<div class="panel panel-default calendar-bg" id="calendar-container">
    <div class="panel-heading" id="calendar-header">
        <div class="row">
            <h3 class="col-xs-2 col-sm-2 col-md-2 text-left"><a href="#" ng-click="previousMonth()"><i class="glyphicon glyphicon-circle-arrow-left arrow"></i></a></h3>
            <div class="col-xs-8 col-sm-8 col-md-8 text-center form-group">
                <h3 ng-show="showText" ng-click="showText = !showText"><label>{{(months[month])[month]}} {{year}}</label></h3>
                <div ng-hide="showText">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <select class="form-control" ng-model="month">
                            <option value="{{key}}" ng-repeat="(key, value) in months">
                                {{value[key]}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <input class="form-control col-xs-4 col-sm-4 col-md-6" type="text" ng-model="year" value="year"/>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <a href="#"  ng-click="showText = !showText" class="text-left"><i class="glyphicon glyphicon-ok"></i></a>
                    </div>
                </div>
            </div>
            <h3 class="col-xs-2 col-sm-2 col-md-2 text-right"><a href="#" ng-click="nextMonth()"><i class="glyphicon glyphicon-circle-arrow-right arrow"></i></a></h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="seven-cols" ng-repeat="day in days">
                <div class="col-xs-1 col-sm-1 col-md-1 text-center week-border"><h4 class="days-of-week">{{day}}</h4></div>
            </div>
            <div class="seven-cols" ng-repeat="day in daysList() track by $index">
                <!--<div class="col-xs-1 col-sm-1 col-md-1 text-center {{($index + 1) % 7 !== 0 ? 'day-display' : 'day-display-edge'}} {{(day === currentDay && month === currentMonth && year === currentYear) ? 'note' : ''}}" ng-if="day !== 0">-->
                    <a class="col-xs-1 col-sm-1 col-md-1 text-center {{($index + 1) % 7 !== 0 ? 'day-display' : 'day-display edge'}} {{(day === currentDay && month === currentMonth && year === currentYear) ? 'note' : ''}}" ng-if="day !== 0" href="#" ng-click="setDate(year, month, day)">{{day}}</a>
                <!--</div>-->
                <div class="col-xs-1 col-sm-1 col-md-1 {{($index + 1) % 7 !== 0 ? 'day-display' : 'day-display edge'}}" ng-if="day === 0">&nbsp;</div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="footer text-center">
                    <h4><a class="footer-label" id="footer-today" href="#" ng-click="displayToday()">Today</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>